@use '../abstracts' as *;

.footer {
    background-color: $color-bg-footer;
    border-top: 1px solid $color-footer-border;
    padding: 1rem 1.5rem;

    @include respond-to('tablet') {
        padding: 1.5rem;
    }

    @include respond-to('desktop') {
        padding: 1.75rem 1.5rem;
    }

    &__container {
        display: flex;
        flex-direction: column;
        gap: 1.5rem;

        @include respond-to('tablet') {
            flex-direction: row;
            gap: 2.5rem;
        }

        @include respond-to('desktop') {
            gap: 5rem;
        }
    }

    &__brand {
        font-size: $font-size-xl;
        font-weight: $font-weight-regular;

        @include respond-to('tablet') {
            min-width: 144px;
        }
    }

    &__columns {
        width: 100%;
        display: flex;
        flex-direction: column;

        @include respond-to('tablet') {
            flex-direction: row;
            gap: 2rem;
        }

        @include respond-to('desktop') {
            gap: 3rem;
        }
    }

    &__category {
        border-top: 1px solid #e0e0e0;

        &:last-child {
            border-bottom: 1px solid #e0e0e0;
        }

        &[open] {
            .footer__category-icon {
                transform: rotate(180deg);
            }
        }

        @include respond-to('tablet') {
            flex: 1;
            border: none;
            padding-left: 1.25rem;

            &:last-child {
                border-bottom: none;
            }

            &::details-content {
                content-visibility: visible;
            }
        }

        @include respond-to('desktop') {
            padding-left: 1.5rem;
        }
    }

    &__category-summary {
        @include flex-between;
        width: 100%;
        padding: 1rem 0;
        cursor: pointer;

        @include respond-to('tablet') {
            width: auto;
            padding: 0 0 1.5rem 0;
            cursor: default;
            pointer-events: none;
        }
    }

    &__category-title {
        font-size: $font-size-sm;
        color: $color-footer-title;
        text-transform: uppercase;
    }

    &__category-icon {
        font-size: $font-size-sm;
        color: $color-footer-title;
        transition: all 0.2s ease;

        @include respond-to('tablet') {
            display: none;
        }
    }

    &__item {
        @include flex-align;
        padding: 0 0 0.75rem 0.5rem;
        gap: 0.5rem;

        &:last-child {
            padding-bottom: 1rem;
        }

        @include respond-to('tablet') {
            padding: 0 0 1rem 0;

            &:last-child {
                padding-bottom: 0;
            }
        }
    }

    &__icon {
        width: 35px;
        height: 35px;
        border-radius: 50%;
        object-fit: cover;
        flex-shrink: 0;
        filter: grayscale(100%);
    }

    &__link {
        font-size: $font-size-sm;
        color: $color-footer-link;
        transition: all 0.2s ease;
    }
}
