@use '../abstracts' as *;

.newsletter {
    background-color: $color-bg-main;
    padding: 1.5rem 1rem;

    @include respond-to('tablet') {
        padding: 2rem 1.5rem 3rem;
    }

    @include respond-to('desktop') {
        padding: 4rem 1.5rem 4.625rem;
    }

    &__container {
        @include flex-center;
    }

    &__content {
        @include flex-between;
        flex-direction: column;
        gap: 1.5rem;

        @include respond-to('tablet') {
            flex-direction: row;
            max-width: rem(768);
        }
    }

    &__info {
        display: flex;
        flex-direction: column;
        gap: 0.5rem;
    }

    &__title {
        font-weight: $font-weight-medium;

        @include respond-to('tablet') {
            font-size: $font-size-xl;
        }
    }

    &__text {
        color: $color-brand-primary;
        font-weight: $font-weight-light;
    }

    &__form {
        width: 100%;

        @include respond-to('tablet') {
            width: auto;
        }
    }

    &__field {
        @include flex-align;
        gap: 0.625rem;
        height: 2.75rem;
        padding: 0.625rem 1.5rem;
        border: 1px solid $color-brand-primary;
        border-radius: 1.5rem;
        cursor: text;
        transition: all 0.2s ease;

        &:focus-within {
            outline: 2px solid $color-brand-accent;
            outline-offset: 2px;
        }
    }

    &__icon {
        color: $color-brand-primary;
        font-size: $font-size-xl;
    }

    &__input {
        width: 100%;
        border: none;
        color: $color-brand-primary;
        font: inherit;
        outline: none;

        &::placeholder {
            color: $color-brand-primary;
            opacity: 1;
        }
    }
}
