@use 'sass:map';

$poppins-fonts: (
    (
        name: 'Thin',
        weight: 100,
    ),
    (
        name: 'ExtraLight',
        weight: 200,
    ),
    (
        name: 'Light',
        weight: 300,
    ),
    (
        name: 'Regular',
        weight: 400,
    ),
    (
        name: 'Medium',
        weight: 500,
    ),
    (
        name: 'SemiBold',
        weight: 600,
    ),
    (
        name: 'Bold',
        weight: 700,
    ),
    (
        name: 'ExtraBold',
        weight: 800,
    ),
    (
        name: 'Black',
        weight: 900,
    )
);

@each $font in $poppins-fonts {
    @font-face {
        font-family: 'Poppins';
        font-weight: map.get($font, weight);
        src: url('/assets/fonts/Poppins/Poppins-#{map.get($font, name)}.ttf');
    }
}

$josefin-fonts: (
    (
        name: 'Thin',
        weight: 100,
    ),
    (
        name: 'ExtraLight',
        weight: 200,
    ),
    (
        name: 'Light',
        weight: 300,
    ),
    (
        name: 'Regular',
        weight: 400,
    ),
    (
        name: 'Medium',
        weight: 500,
    ),
    (
        name: 'SemiBold',
        weight: 600,
    ),
    (
        name: 'Bold',
        weight: 700,
    )
);

@each $font in $josefin-fonts {
    @font-face {
        font-family: 'Josefin Sans';
        font-weight: map.get($font, weight);
        src: url('/assets/fonts/Josefin_Sans/static/JosefinSans-#{map.get($font, name)}.ttf');
    }
}
